<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mi Form</title>
        <!-- FAVICON -->
        <link rel="icon" type="image/x-icon" href="../favicon.ico">
        <!-- CSS -->
        <link rel="stylesheet" href="../css/estilos.css">
    </head>
    </section>  
    <body>
        <header>
            <h1 id="encabezado1">Piscinassl</h1>
            <nav class="navigationBar">
                <ul class="navigationBarList">
                    <li>
                        <a class="enlace" href="./index.html">Inicio</a>
                    </li>
                    <li>
                        <a class="enlace active" href="./presupuesto.html">presupuesto</a>
                    </li>
                    <li>
                        <a class="enlace" href="./galeria.html">Galería</a>
                    </li>
                    <li>
                        <a class="enlace" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Galería de Imágenes</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    </head>
    <body>
        <h1>Galería de Imágenes</h1>
        <div class="gallery">
            <a href="../imagenes/foto1.jpg" data-lightbox="galeria"><img src="../imagenes/foto1.jpg" alt="Imagen 1"></a>
            <a href="../imagenes/OIP (1).jpg" data-lightbox="galeria"><img src="../imagenes/OIP (1).jpg" alt="Imagen 2"></a>
            <a href="../imagenes/OIP (2).jpg" data-lightbox="galeria"><img src="../imagenes/OIP (2).jpg" alt="Imagen 3"></a>
            <a href="../imagenes/OIP (3).jpg" data-lightbox="galeria"><img src="../imagenes/OIP (3).jpg" alt="Imagen 4"></a>
            <a href="../imagenes/OIP.jpg" data-lightbox="galeria"><img src="../imagenes/OIP.jpg" alt="Imagen 4"></a>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    </body>
</html>
